@{
    ViewData["Title"] = "Update";
}
@model ContactDto
<div class="row">
    <div class="col-md-8 offset-md-2">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Contact Edit</h5>

                <form asp-controller="Contact" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="PersonId" />

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label" asp-for="Type"></label>
                        <select asp-for="Type" class="form-control" asp-items="@ViewBag.typeList">
                            <option value="">Please Type Select</option>
                        </select>

                        <span class="text-danger" asp-validation-for="Type"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Detail" class="form-label"></label>
                        <input asp-for="Detail" class="form-control" />
                        <span class="text-danger" asp-validation-for="Detail"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>